/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination__button {
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
}

.pagination__button:hover:not(:disabled) {
  background-color: var(--primary-color);
  color: var(--light-text);
  border-color: var(--primary-color);
}

.pagination__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination__numbers {
  display: flex;
  gap: 10px;
}

.pagination__number {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}

.pagination__number:hover,
.pagination__number.active {
  background-color: var(--primary-color);
  color: var(--light-text);
  border-color: var(--primary-color);
}